---
layout: default
title: Bans
data-pagination:
    enabled: true
    data: bans_history
    paginate: 21
    path: "/banhistory/:num/"
---

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{"/" | prepend: site.baseurl }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{"/bans" | prepend: site.baseurl }}">Bans</a></li>
        <li class="breadcrumb-item active">History</li>
    </ol>
</nav>

<h1 class="mb-3">Account Status</h1>

<div class="row">
    <div class="col-md-12">
        <div class="bg-muted p-3">
            <div class="container">
                {% for record in paginator.records %}
                {% assign mod2 = forloop.index | modulo: 2 %}
                <a class="row py-2 {% if mod2 == 1 %}bg-white{% endif %}" href="/bans/{{ record.target_uuid }}">
                    <div class="col-lg-4 col-md-5 col">
                        <div class="row">
                            <div class="col-md-3 col-2">
                                <img style="width:48px" src="https://crafatar.com/avatars/{{ record.target_uuid }}?overlay">
                            </div>
                            <div class="col text-muted">
                                <!-- br must be on same line, otherwise a space will be
                                     placed after the name, which is underlined when
                                     you hover over the row -->
                                <span class="font-weight-bold">{{ record.target_name }}</span><br>
                                {% if record.type == "ban" %}
                                <span>Ban</span>
                                {% elsif record.type == "mute" %}
                                <span>Mute</span>
                                {% elsif record.type == "warning" %}
                                <span>Warning</span>
                                {% endif %}
                                {% if record.type == "ban" or record.type == "mute" %}
                                {% if record.expires == 0 %}
                                <span class='badge badge-danger'>Permanent</span>
                                {% else %}
                                <span class='badge badge-warning text-white'>{{ record.expires | since: record.created }}</span>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-muted d-none d-lg-inline-block">
                        <small>by</small> {{ record.actor_name }}<br>
                        <small>on</small> {{ record.created | date: '%b %e, %Y %H:%M' }}
                    </div>
                    <div class="col-lg-5 col-md-7 text-muted d-none d-md-inline-block">
                        {{ record.reason | escape }}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<br />

<nav>
    <ul class="pagination justify-content-center">
        {% if paginator.previous_page %}
        <li class="page-item">
            <a class="page-link" href="{{ site.baseurl }}/banhistory">
                <span>&laquo;&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">
                <span>&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ paginator.previous_page }}</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="{{ site.baseurl }}{{ paginator.page_path }}">{{ paginator.page }}</a></li>
        {% if paginator.next_page %}
        <li class="page-item"><a class="page-link" href="{{ site.baseurl }}{{ paginator.next_page_path }}">{{ paginator.next_page }}</a></li>
        <li class="page-item">
            <a class="page-link" href="{{ site.baseurl }}{{ paginator.next_page_path }}">
                <span>&raquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ site.baseurl }}/banhistory/{{ paginator.total_pages }}">
                <span>&raquo;&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
