---
layout: default
title: Bans
permalink: /bans/
---

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{"/" | prepend: site.baseurl }}">Home</a></li>
        <li class="breadcrumb-item active">Bans</li>
    </ol>
</nav>

<h1 class="mb-3">Account Status</h1>

<form class="container" name="bansSearchForm" onsubmit="return onSubmitBansSearch()">
    <div class="row bg-muted py-3">
        <div class="col-md-6 form-group mb-0">
            <label class="sr-only" for="bansSearchUsername">Username</label>
            <input type="text" class="form-control form-control-lg mr-sm-2" id="bansSearchUsername"
                placeholder="Search by username">
            <div id="bansSearchError" class="col-12 bg-primary text-white py-3 mt-3 d-none">
                <span></span>
            </div>
        </div>
        <div class="col-md-3 pt-md-0 pt-3">
            <button type="submit" class="btn btn-primary btn-block font-weight-bold btn-lg">Search</button>
        </div>
        <div class="col-md-3 pt-md-0 pt-3">
            <a href="{{ site.baseurl }}/banhistory" class="btn btn-primary btn-block font-weight-bold btn-lg">
                Display All
            </a>
        </div>
    </div>
</form>

<br />

<div class="row">
    <div class="col-md-6">
        <div class="bg-muted p-3">
            <h2 class="pt-3 text-danger">Recent Bans</h2>
            <hr class="hr-danger">
            <div class="container">
                {% for record in site.data.bans_recent.recentBans %}
                {% assign mod2 = forloop.index | modulo: 2 %}
                <a class="row py-2 {% if mod2 == 1 %}bg-white{% endif %}" href="/bans/{{ record.target_uuid }}">
                    <div class="col-2 pl-3" style="padding:0; margin:0">
                        <img style="height:35px" src="https://crafatar.com/avatars/{{ record.target_uuid }}?overlay">
                    </div>
                    <div class="col pt-2 font-weight-bold text-muted">
                        {{ record.target_name }}
                    </div>
                    <div class="col-2 pr-3" style="padding:0; margin:0">
                        <button class="btn btn-light btn-block btn-sm" data-toggle="popover" data-trigger="hover"
                            style="width:35px; height:35px; float: right"
                            data-placement="left" title="{{ record.actor_name }}
                                {% if record.expires == 0 %}
                                <span class='badge badge-danger'>Permanent</span>
                                {% else %}
                                <span class='badge badge-warning text-white'>Expires {{ record.expires | date: '%B %e, %Y %H:%M' }} UTC</span>
                                {% endif %}" data-content="{{ record.reason | escape }}" data-html="true">
                            <div class="fa-brand fa-question"></div>
                        </button>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="bg-muted p-3">
            <h2 class="pt-3 text-warning">Recent Warnings</h2>
            <hr class="hr-warning">

            <div class="container">
                {% for record in site.data.bans_recent.recentWarnings %}
                {% assign mod2 = forloop.index | modulo: 2 %}
                <a class="row py-2 {% if mod2 == 1 %}bg-white{% endif %}" href="/bans/{{ record.target_uuid }}">
                    <div class="col-2 pl-3" style="padding:0; margin:0">
                        <img style="height:35px" src="https://crafatar.com/avatars/{{ record.target_uuid }}?overlay">
                    </div>
                    <div class="col pt-2 font-weight-bold text-muted">
                        {{ record.target_name }}
                    </div>
                    <div class="col-2 pr-3">
                        <button class="btn btn-light btn-block btn-sm" data-toggle="popover" data-trigger="hover"
                            style="width:35px; height:35px; float: right"
                            data-placement="left" title="{{ record.actor_name }}"
                            data-content="{{ record.reason | escape }}" data-html="true">
                            <div class="fa-solid fa-question"></div>
                        </button>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
