<footer class="pt-5 pb-3 bg-dark">
	<div class="container pd-5">
		<div class="row">
			<div class="col-lg-3 col-xs-12 pb-5">
				<h3>Navigation</h3>
				<hr class="hr-danger" />
				<ul>
					<a href="{{"/" | prepend: site.baseurl }}" class="text-white">
						<li type="square">Home</li>
					</a>
					<a href="{{"/rules/" | prepend: site.baseurl }}" class="text-white">
						<li type="square">Rules</li>
					</a>
					<a href="{{"/links/" | prepend: site.baseurl }}" class="text-white">
						<li type="square">Links</li>
					</a>
					<a target="_blank" href="{{ site.link_discord }}" class="text-white">
						<li type="square">Discord</li>
					</a>
					<a href="{{"/staff/" | prepend: site.baseurl }}" class="text-white">
						<li type="square">Staff</li>
					</a>
					<a href="{{"/bans/" | prepend: site.baseurl }}" class="text-white">
						<li type="square">Bans</li>
					</a>
				</ul>
			</div>
			<div class="col-lg-3 col-xs-12 pb-5">
				<h3>Resources</h3>

				<hr class="hr-warning" />
				<ul>
					<a href="{{ site.link_map }}" class="text-white">
						<li type="square">World Map</li>
					</a>
					<a href="{{"/link/bug" | prepend: site.baseurl }}" class="text-white">
						<li type="square">Report a Bug</li>
					</a>
					<a href="{{"/link/suggest" | prepend: site.baseurl }}" class="text-white">
						<li type="square">Suggest a Feature</li>
					</a>
					<a href="{{"/resources/" | prepend: site.baseurl }}" class="text-white">
						<li type="square">Resources</li>
					</a>
					<a href="{{"/privacy/" | prepend: site.baseurl }}" class="text-white">
						<li type="square">Privacy Notice</li>
					</a>

					<a href="{{"/blog/" | prepend: site.baseurl }}" class="text-white">
						<li type="square">Blog</li>
					</a>
				</ul>
			</div>
			<div class="col-lg-3 col-xs-12 pb-5">
				<h3>Social</h3>
				<hr class="hr-success" />
				{% for network in site.social %}
				<a href="{{ network.url }}" target="_blank" class="font-weight-bold">
					<div
					    class="fa-brands mx-4 mb-3 fa-{{ network.icon }}"
						style="background-color: {{ network.color }};"></div>{{ network.title }}
				</a>
				<br />
				{% endfor %}
			</div>
			<div class="col-lg-3 col-xs-12 pb-5">
				<h3>Information</h3>
				<hr class="hr-primary" />
				Minecraft: <div class="float-right">play.cubekrowd.net</div>
				<br />
				Discord: <div class="float-right">discord.cubekrowd.net</div>
				<br />
				Email: <div class="float-right">support@cubekrowd.net</div>
				<br />
				<br />
				Designed by: <a class="text-primary" href="https://twitter.com/Foorack">@Foorack</a>
				<br />
				Hosted in Europe, DE. <i class="em em-flag-eu"></i> <i class="em em-de"></i>
			</div>
		</div>
		<div class="stand-out my-3 py-3 px-4"><span class="font-weight-bold">2020 © CubeKrowd</span></div>
	</div>
</footer>
