<!--<div class="text-white bg-danger">
	<div class="container py-3 mb-4">
		<div class="row">
			<div class="col-12 col-xl-10 offset-xl-1 px-0">
				<div class="container-fluid">
						<center><i class="em em-warning mr-3"></i><b>CubeKrowd is currently experiencing technical difficulties! Please follow us on <a href="https://twitter.com/CubeKrowd/status/1013522035320999936" class="text-warning">Twitter</a> for latest updates!</b></center>
				</div>
			</div>
		</div>
	</div>
</div>-->
<div class="container pt-3 mb-4 pb-2">
	<div class="row">
		<div class="col-12 col-xl-10 offset-xl-1 px-0">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 d-none d-lg-inline-block pt-2">
						<button class="btn btn-primary btn-lg font-weight-bold mt-4"
							style="font-size: 18px;padding-top:9px;padding-bottom:10px">play.cubekrowd.net</button>
					</div>
					<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-0">
						<img class="img-fluid" src="{{"/assets/img/cklogowidesmall.png" | prepend: site.baseurl }}">
					</div>
					<div class="d-none d-md-inline-block col-md-4 d-lg-none pt-2 offset-md-1">
						<button class="btn btn-primary btn-lg font-weight-bold mt-4"
							style="font-size: 18px;padding-top:9px;padding-bottom:10px">play.cubekrowd.net</button>
					</div>
					<div class="d-none d-md-inline-block col-md-4 col-lg-3 pt-2 offset-md-2 offset-lg-0">
						<a href="{{ site.link_store }}" target="_blank"><button
								class="btn btn-warning btn-lg font-weight-bold mt-4 text-white">CubeKrowd
								Store</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="header-nav">
	<div class="container">
		<div class="row">
			<div class="col-12 col-xl-10 offset-xl-1 px-0">
				<div class="container-fluid">
					<div id="header-nav-inner" class="row text-uppercase font-weight-bold">
						<a href="javascript:dropdownNav();"><i
								class="fa-solid fa-chevron-down d-md-none position-absolute mt-1 py-3 px-4 text-white right-0 z-index-1000"></i></a>
						<a href="{{"/" | prepend: site.baseurl }}"
							class="text-white col-md-2 py-3 {% if page.title == "Home" %}active{% endif %}">Home</a>
						<a href="{{"/rules/" | prepend: site.baseurl }}"
							class="text-white col-md-2 d-none d-md-block py-3 {% if page.title == "Rules" %}active{% endif %}">Rules</a>
						<a href="{{"/links/" | prepend: site.baseurl }}"
							class="text-white col-md-2 d-none d-md-block py-3 {% if page.title == "Links" %}active{% endif %}">Links</a>
						<a href="{{ site.link_discord }}" class="text-white col-md-2 d-none d-md-block py-3">Discord</a>
						<a href="{{"/staff/" | prepend: site.baseurl }}"
							class="text-white col-md-2 d-none d-md-block py-3 {% if page.title == "Staff" %}active{% endif %}">Staff</a>
						<a href="{{"/bans/" | prepend: site.baseurl }}"
							class="text-white col-md-2 d-none d-md-block py-3 {% if page.title == "Bans" %}active{% endif %}">Bans</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
