---
layout: blog
---

<h1 class="pb-3">Posts from {{ page.date | date: "%Y" }}</h1>

{% for post in page.posts %}
{{ post.date | date: "%b %-d, %Y" }}
<h6>
    <a href="{{ site.baseurl }}{{ post.url }}" class="text-info">{{ post.title }}</a>
</h6>
{% endfor %}
