---
layout: default
---

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{"/" | prepend: site.baseurl }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{"/bans" | prepend: site.baseurl }}">Bans</a></li>
        <li class="breadcrumb-item active">{{ page.username }}</li>
    </ol>
</nav>

<h1 class="mb-3">{{ page.username }}'s Ban Profile</h1>

<div class="row">
    <div class="col-md-4">
        <div class="bg-muted p-3 text-center">
            <img class="img-fluid" src="https://crafatar.com/renders/body/{{ page.uuid }}?overlay">
            <h4 class="pt-3">
                {{ page.username }}
            </h4>
            <h2>
                {% if page.currentBan %}
                <span class="badge badge-danger">Banned</span>
                {% endif %}
                {% if page.currentMute %}
                <span class="badge badge-success">Muted</span>
                {% endif %}
            </h2>
            <hr class="hr-dark">
        </div>

        <br />

    </div>
    <div class="col-md-8">
        <div class="bg-muted p-3">
            <h2 class="pt-3 text-danger">Current Ban</h2>
            <hr class="hr-danger">

            {% if page.currentBan %}
            <div class="container">
                <div class="row pb-3">
                    <div class="col-6 col-md-3 pt-3 {% if page.currentBan.expires != 0 %}mt-1{% endif %} font-weight-bold">
                        Expires:
                    </div>
                    <div class="col-6 col-md-9 pt-3 font-weight-bold text-muted">
                        {% if page.currentBan.expires == 0 %}
                        This player has been permanently banned.
                        {% else %}
                        {{ page.currentBan.expires | date: '%B %e, %Y %H:%M' }} UTC

                        {% assign today = site.time | date: '%s' %}
                        {% assign secondsUntil = page.currentBan.expires | minus: today %}
                        {% assign minutesUntil = secondsUntil | divided_by: 60 %}
                        {% assign hoursUntil = minutesUntil | divided_by: 60 %}
                        {% assign daysUntil = hoursUntil | divided_by: 24  %}
                        {% assign weeksUntil = daysUntil | divided_by: 7  %}
                        <button class="btn btn-dark btn-sm ml-2" data-toggle="popover" data-trigger="focus"
                            data-placement="bottom" title="<span class='badge badge-dark'>Time Until Expiry</span>"
                            data-content="<span class='font-weight-bold'>
                            {% if hoursUntil < 1 %}
                            Less than 1 hour until being unbanned...
                            {% else %}
                            {{weeksUntil}} weeks, {{daysUntil | modulo: 7}} days, {{hoursUntil | modulo: 24}} hours
                            {% endif %}
                            </span>" data-html="true">
                            <div class="fa-solid fa-clock"></div>
                        </button>
                        {% endif %}
                    </div>
                    <div
                        class="col-6 col-md-3 {% if page.currentBan.expires == 0 %}pt-3{% else %}pt-2{% endif %} font-weight-bold">
                        Banned by:
                    </div>
                    <div
                        class="col-6 col-md-9 {% if page.currentBan.expires == 0 %}pt-3{% else %}pt-2{% endif %} font-weight-bold text-muted">
                        {{ page.currentBan.bannedby_name }}
                    </div>
                    <div class="col-6 col-md-3 pt-3 font-weight-bold">
                        Banned at:
                    </div>
                    <div class="col-6 col-md-9 pt-3 font-weight-bold text-muted">
                        {{ page.currentBan.created | date: '%B %e, %Y %H:%M' }} UTC
                    </div>
                    <div class="col-6 col-md-3 pt-3 font-weight-bold">
                        Reason:
                    </div>
                    <div class="col-6 col-md-9 pt-3 font-weight-bold text-muted">
                        {{ page.currentBan.reason | escape }}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="pl-3">No current ban.</div>
            {% endif %}
        </div>

        <br />

        <div class="bg-muted p-3">
            <h2 class="pt-3 text-danger">Previous Bans</h2>
            <hr class="hr-danger">

            {% assign pastBansCount = page.pastBans | size  %}
            {% if pastBansCount > 0 %}
            {% for record in page.pastBans %}
            {% assign mod2 = forloop.index | modulo: 2 %}
            <div class="p-3 {% if mod2 == 1 %}bg-white{% endif %} row">
                <div class="col-12 font-weight-bold">
                    #{{ forloop.index }}
                </div>
                <div class="col-6 col-md-2 px-md-0 offset-md-1 font-weight-bold">
                    Reason:
                </div>
                <div class="col-6 col-md-9 text-muted">
                    {{ record.reason | escape }}
                </div>
                <div class="col-6 col-md-2 px-md-0 offset-md-1 font-weight-bold">
                    Banned at:
                </div>
                <div class="col-6 col-md-9 text-muted">
                    {{ record.created | date: '%B %e, %Y %H:%M' }} UTC <small class="px-2">by</small>
                    {{ record.bannedby_name }}
                </div>
                <div class="col-6 col-md-2 px-md-0 offset-md-1 font-weight-bold">
                    Expired at:
                </div>
                <div class="col-6 col-md-9 text-muted">
                    {{ record.expired | date: '%B %e, %Y %H:%M' }} UTC <small class="px-2">by</small>
                    {{ record.unbannedby_name }}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="pl-3">No previous bans.</div>
            {% endif %}
        </div>

        <br />

        <div class="bg-muted p-3">
            <h2 class="pt-3 text-warning">Warnings</h2>
            <hr class="hr-warning">

            {% assign pastWarningsCount = page.warnings | size  %}
            {% if pastWarningsCount > 0 %}
            {% for record in page.warnings %}
            {% assign mod2 = forloop.index | modulo: 2 %}
            <div class="p-3 {% if mod2 == 1 %}bg-white{% endif %} row">
                <div class="col-12 font-weight-bold">
                    #{{ forloop.index }}
                </div>
                <div class="col-6 col-md-2 px-md-0 offset-md-1 font-weight-bold">
                    Reason:
                </div>
                <div class="col-6 col-md-9 text-muted">
                    {{ record.reason | escape }}
                </div>
                <div class="col-6 col-md-2 px-md-0 offset-md-1 font-weight-bold">
                    Warned at:
                </div>
                <div class="col-6 col-md-9 text-muted">
                    {{ record.created | date: '%B %e, %Y %H:%M' }} UTC <small class="px-2">by</small>
                    {{ record.warnedby_name }}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="pl-3">No previous warnings.</div>
            {% endif %}
        </div>

        <br />

        <div class="bg-muted p-3">
            <h2 class="pt-3 text-success">Current Mute</h2>
            <hr class="hr-success">

            {% if page.currentMute %}
            <div class="container">
                <div class="row pb-3">
                    <div class="col-6 col-md-3 pt-3 {% if page.currentMute.expires != 0 %}mt-1{% endif %} font-weight-bold">
                        Expires:
                    </div>
                    <div class="col-6 col-md-9 pt-3 font-weight-bold text-muted">
                        {% if page.currentMute.expires == 0 %}
                        This player has been permanently muted.
                        {% else %}
                        {{ page.currentMute.expires | date: '%B %e, %Y %H:%M' }} UTC

                        {% assign today = site.time | date: '%s' %}
                        {% assign secondsUntil = page.currentMute.expires | minus: today %}
                        {% assign minutesUntil = secondsUntil | divided_by: 60 %}
                        {% assign hoursUntil = minutesUntil | divided_by: 60 %}
                        {% assign daysUntil = hoursUntil | divided_by: 24  %}
                        {% assign weeksUntil = daysUntil | divided_by: 7  %}
                        <button class="btn btn-dark btn-sm ml-2" data-toggle="popover" data-trigger="focus"
                            data-placement="bottom" title="<span class='badge badge-dark'>Time Until Expiry</span>"
                            data-content="<span class='font-weight-bold'>
                            {% if hoursUntil < 1 %}
                            Less than 1 hour until being unmuted...
                            {% else %}
                            {{weeksUntil}} weeks, {{daysUntil | modulo: 7}} days, {{hoursUntil | modulo: 24}} hours
                            {% endif %}
                            </span>" data-html="true">
                            <div class="fa-solid fa-clock"></div>
                        </button>
                        {% endif %}
                    </div>
                    <div
                        class="col-6 col-md-3 {% if page.currentMute.expires == 0 %}pt-3{% else %}pt-2{% endif %} font-weight-bold">
                        Muted by:
                    </div>
                    <div
                        class="col-6 col-md-9 {% if page.currentMute.expires == 0 %}pt-3{% else %}pt-2{% endif %} font-weight-bold text-muted">
                        {{ page.currentMute.mutedby_name }}
                    </div>
                    <div class="col-6 col-md-3 pt-3 font-weight-bold">
                        Muted at:
                    </div>
                    <div class="col-6 col-md-9 pt-3 font-weight-bold text-muted">
                        {{ page.currentMute.created | date: '%B %e, %Y %H:%M' }} UTC
                    </div>
                    <div class="col-6 col-md-3 pt-3 font-weight-bold">
                        Reason:
                    </div>
                    <div class="col-6 col-md-9 pt-3 font-weight-bold text-muted">
                        {{ page.currentMute.reason | escape }}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="pl-3">No current mute.</div>
            {% endif %}
        </div>

        <br />

        <div class="bg-muted p-3">
            <h2 class="pt-3 text-success">Previous Mutes</h2>
            <hr class="hr-success">

            {% assign pastMutesCount = page.pastMutes | size  %}
            {% if pastMutesCount > 0 %}
            {% for record in page.pastMutes %}
            {% assign mod2 = forloop.index | modulo: 2 %}
            <div class="p-3 {% if mod2 == 1 %}bg-white{% endif %} row">
                <div class="col-12 font-weight-bold">
                    #{{ forloop.index }}
                </div>
                <div class="col-6 col-md-2 px-md-0 offset-md-1 font-weight-bold">
                    Reason:
                </div>
                <div class="col-6 col-md-9 text-muted">
                    {{ record.reason | escape }}
                </div>
                <div class="col-6 col-md-2 px-md-0 offset-md-1 font-weight-bold">
                    Muted at:
                </div>
                <div class="col-6 col-md-9 text-muted">
                    {{ record.created | date: '%B %e, %Y %H:%M' }} UTC <small class="px-2">by</small>
                    {{ record.mutedby_name }}
                </div>
                <div class="col-6 col-md-2 px-md-0 offset-md-1 font-weight-bold">
                    Expired at:
                </div>
                <div class="col-6 col-md-9 text-muted">
                    {{ record.expired | date: '%B %e, %Y %H:%M' }} UTC <small class="px-2">by</small>
                    {{ record.unmutedby_name }}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="pl-3">No previous mutes.</div>
            {% endif %}
        </div>
    </div>
</div>
