---
layout: default
---

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{"/" | prepend: site.baseurl }}">Home</a></li>
        {% if page.type == 'year' %}
        <li class="breadcrumb-item"><a href="{{"/blog" | prepend: site.baseurl }}">Blog</a></li>
        <li class="breadcrumb-item active">Year {{ page.date | date: "%Y" }}</li>
        {% elsif page.type == 'tag' or page.type == 'category' %}
        <li class="breadcrumb-item"><a href="{{"/blog" | prepend: site.baseurl }}">Blog</a></li>
        <li class="breadcrumb-item active">{{ page.type | capitalize }} '{{ page.title }}'</li>
        {% elsif page.title != 'Blog' %}
        <li class="breadcrumb-item"><a href="{{"/blog" | prepend: site.baseurl }}">Blog</a></li>
        <li class="breadcrumb-item active">{{ page.title }}</li>
        {% else %}
        <li class="breadcrumb-item active">Blog</li>
        {% endif %}
    </ol>
</nav>

<div class="row">
    <div class="col-lg-8">
        {{ content }}
    </div>
    <div class="col-lg-4 pt-4">
        <h5 class="text-primary">Subscribe</h5>
        <hr class="hr-primary" />
        Subscribe to this blog <a href="{{"/feed.xml" | prepend: site.baseurl }}">via RSS</a>.

        <h5 class="pt-5 text-success">Categories</h5>
        <hr class="hr-success" />
        <ul class="nav nav-pills nav-filled flex-column font-weight-bold bg-muted">
            {% for category in site.categories %}
            <a href="{{ '/blog/category/' | prepend: site.baseurl  }}{{ category | first }}" class="text-success">
                <li class="nav-item">
                    <div class="link nav-link text-success">
                        <i class="fa-solid fa-angle-right pr-3"></i>{{ category | first | capitalize }}
                        <span
                            class="badge badge-pill badge-primary float-right bg-success">{{ category | last | size }}</span>
                    </div>
                </li>
            </a>
            {% endfor %}
        </ul>

        <h5 class="pt-5 text-warning">Recent Posts</h5>
        <hr class="hr-warning" />
        <div class="row">
            {% for post in site.posts limit:4 %}
            <div class="col-4">
                <img class="img-fluid"
                    src="{{ site.baseurl }}/assets/img/blog/{{ post.date | date: "%Y-%m-%d" }}-{{ post.slug }}.png" />
            </div>

            <div class="col-8 text-truncate">
                <a href="{{ site.baseurl }}{{ post.url }}" class="text-warning">
                    <h6 class="mb-0">{{ post.title | truncate: 22 }}</h6>
                </a>
                <p class="text-muted">{{ post.category }}, {{ post.date | date_to_string }}</p>
            </div>
            {% endfor %}
        </div>

        <h5 class="pt-5 text-danger">Popular Tags</h5>
        <hr class="hr-danger" />
        {% capture tags %}
        {% for tag in site.tags %}
        <a data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}"
            class="btn btn-danger btn-sm"
            href="{{ site.baseurl }}/blog/tag/{{ tag[0] | slugify: 'pretty' }}/">{{ tag[0] }}
            <span>({{ tag[1].size }})</span>
        </a>
        {% endfor %}
        {% endcapture %}
        {{ tags | split:'</a>' | sort | join:'</a>' }}</a>

        <h5 class="pt-5 text-info">Archive</h5>
        <hr class="hr-info" />
        <ul class="nav nav-pills nav-filled flex-column font-weight-bold bg-muted">
            {% for post in site.posts %}
            {% assign currentdate = post.date | date: "%Y" %}
            {% if currentdate != date %}
            <a href="{{ '/blog/year/' | prepend: site.baseurl  }}{{ currentdate }}" class="text-info">
                <li class="nav-item">
                    <div class="link nav-link">
                        <i class="fa-solid fa-angle-right pr-3"></i>{{ currentdate }}
                    </div>
                </li>
            </a>
            {% assign date = currentdate %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>