---
layout: blog
---

<h1>{{ page.title }}</h1>
<img class="img-fluid img-frame mb-3"
    src="{{ site.baseurl }}/assets/img/blog/{{ page.date | date: "%Y-%m-%d" }}-{{ page.slug }}.png" />
<p class="text-muted">Published on {{ page.date | date_to_string }} by {{ page.author}}</p>
{{ content }}
